<div layout="row">
    <md-input-container flex="50">
        <label>Username</label>
        <input type="text" ng-model="$ctrl.myInput">
    </md-input-container>
</div>
<div layout="row" class="autocomplete-container" layout-padding ng-show="$ctrl.users.length > 0">
    <md-whiteframe flex="50" class="md-whiteframe-4dp">
        <md-list>
            <md-list-item ng-repeat="user in $ctrl.users" ng-click="null">
                <img ng-src="{{user.avatar_url}}" class="md-avatar" alt="{{user.login}}"/>
                <div class="md-list-item-text" layout="column">
                    {{user.login}}
                </div>
            </md-list-item>
        </md-list>
    </md-whiteframe>
</div>
